@model Vidly.ViewModels.MovieCustomersViewModel

@{
    ViewBag.Title = "Random";
}

<br />
<br />

@*style=*@

@{ var style = Model.Customers.Count > 0 ? "font-size:1.4rem; font-family:'Satisfy', cursive;" : ""; }

<h2 style="@style">@Model.Movie.Name</h2>

<ul class="list-group w-50">
    @foreach (var customer in Model.Customers)
    {
        <li class="list-group-item rounded mb-2">@customer.Name</li>
    }
</ul>