@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "CustomersList";
}

<h2>Customers</h2>

@*<ul class="list-group w-50">
    @foreach(var customer in Model)
    {
        <li class="list-group-item mb-1">@Html.ActionLink(customer.Name, "Details", "Customers", new { customer.Id }, null)</li>
    }
</ul>*@  

<table class="table table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Details", "Customers", new { customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
        </tr>
        }        
    </tbody>
</table>

